*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#ffb6b6) #ffb8d2;
}
.main{
    width: 100%;
    height: 650px;
    background-color: transparent;

}
.nav{
    background-color: transparent;
    width: 100%;
    height: 90px;
    display: inline-flex;  
    box-shadow: 0 0 12px rgb(0, 0, 0.6);
}
ul{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 3px 4px rgb(60, 5, 5);
    width: 70%;
    height: 60px;
    align-items: center;
    font-size: 20px;
    margin-left: 220px;
    margin-top: 30px;
}
li{
    list-style-type: none;
}
a{
     text-decoration: none;
    color: black;
}
.card{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-top: 100px;
    transition: all ease-in-out 1s;
}
.card:hover{
    padding: 40px;
}
.card1{
    background-color: white;
    width: 500px;
    padding-left: 100px;
    height: 500px;
    padding-top: 30px;
    border: 1px solid black;
    border-radius: 30px ;
    box-shadow: 4px 8px 12px rgb(0, 0, 0.6);
    overflow: visible;
}
.card2{
    background-color: white;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 4px 8px 12px rgb(0, 0, 0.6);
    overflow: visible;
}
.edit1{
    padding-left: 150px;
    margin-top: 50px;
}
.edit3{
    padding-left: 40px;
}
.input{
    border: 2px solid black;
    border-radius: 10px;
    height: 47px;
    width: 480px;
    margin-left: 10px;
}
.email1{
    width: 350px;
    height: 42px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 15px; 
    padding: 20px; 
}
.subscribe{
    width: 120px;
    height: 41px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.edit2{
    margin-left: 180px;

}
.card4{
    width: 500px;
    height: 60px;
    background-color: transparent;
    color: black;
    margin-left: 500px;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}