*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(pink, #f16a6a);
}
.nav{
    height: 150px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 3px 4px rgb(60, 5, 5);
    width: 70%;
    height: 60px;
    align-items: center;
    font-size: 20px;
}
li{
    list-style-type: none;
}
form{
    width: 400px;
    height: 500px;
    background: linear-gradient(pink, #f16a6a);
    display: flex;
    border: 2px solid black;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    flex-direction: column;
    margin-left: 600px;
    margin-top: 100px;
}
.h1{ 
    height: 30px;
    width: 200px;
    background-color: transparent;  
    position: fixed;
    margin-bottom: 400px;
    margin-left: 50px; 
    
}
.username{
    width: 320px;
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-bottom: 150px;
}
.lable1{
    color: black;
    text-align: center;
    font-size: 30px;
}
.username3{
    background-color: transparent;
    height: 50px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}
.username3::placeholder{
    color: white;
}
.pass{
    background-color: transparent;
    height: 100px;
    width: 320px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 100px;
}
.lable2{
    color: black;
    text-align: center;
    font-size: 30px;
}
.pass3{
    background-color: transparent;
    height: 50px;
    width: 320px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
}
.pass3::placeholder{
    color: aliceblue;
}
button{
    background-color: transparent;
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    margin-top: 300px;
    color: aliceblue;
}
a{
    color: black;
    text-decoration: none;
}